/*
 author Josélio de S. C. Júnior <joseliojrx25@gmail.com>
 copyright Josélio de S. C. Júnior - 2022
 license MIT
*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

:root {
  --g90: #bdbdbd;
  --g50: #5e5e5e;
  --g20: #161616;
  --green1: #00864e;
  --trs: ease all .5s;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  background: var(--g20);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--g50);
  border-radius: 5px;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--g20);
}

#load-block{
  position: fixed;
  z-index: 2;
  background: var(--g20);
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

#load-lil-circle {
  margin-left: 44px;
  background: var(--g90);
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

#load{
  background: conic-gradient(transparent 100deg , var(--g90));
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: loading .7s ease-in 0s infinite normal;
  transform: rotate(0deg);
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

body, header {
  background: var(--g20);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--g90);
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

header {
  z-index: 1;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px 0;
  user-select: none;
}

a {
  color: rgb(3, 157, 247);
  font-style: italic;
}

a:hover {
  color: rgb(3, 247, 174);
}

.inf {
  margin-top: 8px;
}

.inf h4 {
  margin: 3px 0;
  font-weight: 500;
}

#lang-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: calc(100% - 20px);
  min-height: calc(100vh - 180px);
}

.l-title {
  font-size: 1.3em;
  font-weight: 700;
}

.lang-m-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
}

.lang-m-box-off {
  transition: var(--trs);
}

.lang-m-box-on {
  transition: var(--trs);
  width: 100%;
  cursor: pointer;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 5px 10px 8px;
  margin: 2px;
  border-radius: 5px;
  user-select: none;
}

.lang-off {
  transition: var(--trs);
}

.lang-on {
  transition: var(--trs);
  width: fit-content;
  padding: 5px 20px 8px;
  margin: 20px;
  max-width: 400px;
}

.int-inf {
  margin: 0;
  font-size: 0;
  text-align: left;
}

.int-inf-off {
  transition: ease all .2s;
}

.int-inf-on {
  transition: var(--trs);
  margin: 5px;
  font-size: 1em; 
}

.copy-sect {
  display: flex;
  justify-content: center;
  width: 100%;
}

.copy-sect-off {
  transition: var(--trs);
}

.copy-sect-on {
  transition: var(--trs);
  justify-content: space-between;
  
}

.copy-btn-bg {
  border-radius: 3px;
  width: 0;
  height: 0;
  margin: 0;
}

.copy-btn-bg-off {
  transition: var(--trs);
}

.copy-btn-bg-on {
  transition: var(--trs);
  width: 35px;
  height: 35px;
  margin: 5px -10px 0 15px;
}

.copy-icon-btn {
  z-index: 0;
  width: 0;
  height: 0;
  margin: 0;
  clip-path: path('M8.7306 3A1.3332 1.3186 90 007.4125 4.3327V8.1887H3.8934A1.3332 1.3186 90 002.5754 9.5214V25.4794A1.3332 1.3186 90 003.8934 26.8125H15.0815A1.3332 1.3186 90 0016.3999 25.4794V21.6239h3.5185A1.3332 1.3186 90 0021.2371 20.2908V4.3327A1.3332 1.3186 90 0019.9186 3ZM10.5564 5.1845H18.0933A.9618.9513 90 0119.0445 6.1461V18.4778A.9618.9513 90 0118.0933 19.4394H10.5564A.9618.9513 90 019.6052 18.4778V6.1461A.9618.9513 90 0110.5564 5.1845ZM5.7192 10.3732h1.6934v9.9176a1.3332 1.3186 90 001.3182 1.3331h5.4767V23.6664A.9618.9513 90 0113.2561 24.6281H5.7192A.9618.9513 90 014.7681 23.6664V11.3347A.9618.9513 90 015.7192 10.3732Z');
  cursor: pointer;
}

.copy-icon-btn-off {
  transition: var(--trs);
}

.copy-icon-btn-on {
  transition: var(--trs);
  width: 30px;
  height: 30px;
  margin: 2px -6px 0 0;
}

.copy-alert {
  position: absolute;
  top: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: cpalert 2s ease-in-out 0s 1 normal forwards;
}

@keyframes cpalert {
  to {
    opacity: 0;
  }  
}

.copy-alert-msg {
  background: var(--green1);
  padding: 4px 8px;
  border-radius: 4px;
}

.copy-alert-arrow {
  margin-top: -1px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--green1);
}

footer {
  margin-bottom: 5px;
  z-index: 1;
}
